---
import '../styles/app.css';
import SEO from '@components/SEO.astro';
import { resolveFrontmatter, type LayoutProps } from '@utils/frontmatter';

const page = resolveFrontmatter(Astro.props as LayoutProps);
---

<html lang="en" class="scroll-smooth" data-theme="bluebird">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <SEO {...page} />
  </head>
  <body class="font-body bg-base-100 text-base-content" id="top">
    <slot />
  </body>
</html>
